@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 213 14% 16%;
    --card: 0 0% 100%;
    --card-foreground: 213 14% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 14% 16%;
    --primary: 213 14% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 212 12% 38%;
    --secondary-foreground: 0 0% 98%;
    --muted: 213 14% 95%;
    --muted-foreground: 213 14% 45%;
    --accent: 11 76% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 14% 88%;
    --input: 213 14% 88%;
    --ring: 11 76% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 14% 10%;
    --foreground: 0 0% 98%;
    --card: 213 14% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 213 14% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 213 14% 16%;
    --secondary: 212 12% 38%;
    --secondary-foreground: 0 0% 98%;
    --muted: 213 14% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 11 76% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 14% 20%;
    --input: 213 14% 20%;
    --ring: 11 76% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
